.cask/
elpa/
var/
auto-save-list/
emacs-init.el
*.~undo-tree~
/ac-comphist.dat
completions
ede-projects.el
recentf
session.*
tramp
semanticdb/
image-dired/
helm-doc.org
eshell/
bookmarks
.DS_Store
.python-environments/
url/